preserveAspectRatio="xMidYMid meet" 


  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  svg {
    display: block;
    margin: auto;
    width: --vih(26);
    height: --vih(26);
    flex-shrink: 0;
    color: var(--palette-primary-primary1EquitasBlueprimary2LightBlue);
  }
}
